<h2 mat-dialog-title>{{ isEdit ? 'Edit Task' : 'Add Task' }}</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="taskForm">
        <mat-form-field class="fill-width">
            <mat-label> Task title</mat-label>
            <input matInput
                formControlName="title"
                [maxlength]="maxTitleLength" 
                placeholder="Enter task title">
                <mat-error *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched">A valid title is required</mat-error>
        </mat-form-field>

        <mat-checkbox *ngIf="isEdit" formControlName="completed" class="mt-10">Completed</mat-checkbox>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial 
    [disabled]="!taskForm.valid"
    (click)="createOrEditTask()">
    {{ isEdit ? 'Save' : 'Create' }}
  </button>
</mat-dialog-actions>